<h2 class="text-xl text-center shadow-md font-semibold mt-4 mb-4">
  Health Challenge Tracker
</h2>
<!-- </div> -->
<!-- <h2 class="text-xl font-semibold mb-4">Health Challenge Tracker</h2> -->
<div class="p-4 max-w-4/5 mb-4 mx-auto bg-white rounded-xl shadow-md">
  <form  class="space-y-0.5 flex flex-row">
    <input
      type="text"
      [(ngModel)]="userName"
      name="userName"
      placeholder="User Name"
      required
      class="w-full p-2 border-b-1 rounded-top bg-gray-200 mr-2"
    />
    <select
      required
      class="w-full p-2 border-b-1 bg-gray-200 rounded-top mr-2"
      [(ngModel)]="workoutType"
      name="workoutType"
    >
      <option value="" selected>Select Workout Type</option>
      <option value="running">Running</option>
      <option value="cycling">Cycling</option>
      <option value="yoga">Yoga</option>
      <option value="weightlifting">Weightlifting</option>
      <!-- Add more options as needed -->
    </select>
    <input
      type="number"
      placeholder="workoutMinutes"
      [(ngModel)]="workoutMinutes"
      name="workoutMinutes"
      required
      class="w-full p-2 border-b-1 bg-gray-200 rounded-top mr-2"
    />

    <button type="submit" class="w-3/5 bg-blue-500 text-white rounded mr-2">
      Add Workout
    </button>
  </form>
</div>
<router-outlet />
