<h2 class="text-xl text-center shadow-md font-semibold mt-4 mb-4">
  Health Challenge Tracker
</h2>
<!-- </div> -->
<!-- <h2 class="text-xl font-semibold mb-4">Health Challenge Tracker</h2> -->
<div class="p-4 max-w-4/5 mb-4 mx-auto bg-white rounded-xl shadow-md">
  <form (submit)="addWorkout()"  class="space-y-0.5 flex flex-row">
    <input
      type="text"
      [(ngModel)]="userName"
      name="userName"
      placeholder="User Name"
      required
      class="w-full p-2 border-b-1 rounded-top bg-gray-200 mr-2"
    />
    <select
      required
      class="w-full p-2 border-b-1 bg-gray-200 rounded-top mr-2"
      [(ngModel)]="workoutType"
      name="workoutType"
    >
      <option value="" selected>Select Workout Type</option>
      <option value="running">Running</option>
      <option value="cycling">Cycling</option>
      <option value="yoga">Yoga</option>
      <option value="weightlifting">Weightlifting</option>
      <!-- Add more options as needed -->
    </select>
    <input
      type="number"
      placeholder="workoutMinutes"
      [(ngModel)]="workoutMinutes"
      name="workoutMinutes"
      required
      class="w-full p-2 border-b-1 bg-gray-200 rounded-top mr-2"
    />

    <button type="submit" class="w-3/5 bg-blue-500 text-white rounded mr-2">
      Add Workout
    </button>
  </form>
</div>

<app-search-filter (search)="onSearch($event)" (filter)="onFilterChange($event)"></app-search-filter>

<div class="p-4 max-w-5/6 mx-auto bg-white rounded-xl shadow-md">
  <table class="font-normal mt-4 w-full">
    <thead>
      <tr class="">
        <th class="border-b-1 p-2">Name</th>
        <th class="border-b-1 p-2">Workouts</th>
        <th class="border-b-1 p-2">Number of Workouts</th>
        <th class="border-b-1 p-2">Total Workouts Minutes</th>
      </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let user of filteredUsers">
          <td class="border-b-1 p-2 text-center text-gray-700">{{ user.userName }}</td>
          <td class="border-b-1 p-2 text-center text-gray-700">{{ getWorkoutTypes(user) }}</td>
          <td class="border-b-1 p-2 text-center text-gray-700">{{ user.workoutData.length }}</td>
          <td class="border-b-1 p-2 text-center text-gray-700">{{ calculateTotal(user) }}</td>
        </tr>
        
    </tbody>
  </table>
</div>
<router-outlet />
