<div class="flex w-4/5 mx-auto mb-4 justify-center items-center p-2">
    <div class="flex-1 space-x-4 mb-4 mr-4">
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="searchText"
          (input)="onSearch()"
        class="p-2 border-b-2 border-gray-600 rounded bg-gray-200 w-full"
      />
    </div>
    <div class="flex-1 space-x-4 mb-4">
      <select
        class="p-2 border-b-2 border-gray-600 w-full h-full bg-gray-200 rounded"
        [(ngModel)]="selectedWorkoutType"
          (change)="onFilterChange()"
      >
        <option value="">All Workouts</option>
        <option value="running">Running</option>
        <option value="cycling">Cycling</option>
        <option value="swimming">Swimming</option>
        <option value="yoga">Yoga</option>
      </select>
    </div>
  </div>
  